<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- usesCleartextTraffic: TorrServer и локальные серверы работают по http -->
    <application
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.TVPlayer"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".player.PlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|navigation|uiMode|density"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TVPlayer.Player">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/x-mpegURL" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/dash+xml" />
                <data android:mimeType="application/x-matroska" />
            </intent-filter>

            <!-- Ссылки без mime-типа, но с «видео»-расширением -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\.mkv" />
                <data android:pathPattern=".*\.mp4" />
                <data android:pathPattern=".*\.avi" />
                <data android:pathPattern=".*\.m3u8" />
                <data android:pathPattern=".*\.ts" />
                <data android:pathPattern=".*\.webm" />
            </intent-filter>
        </activity>
    </application>
</manifest>
